<div class="limiter">
  <div class="container-login100" style="background-image: url('../../../../assets/images/bg-01.jpg');">

    <div class="wrap-add200 p-5 m-1">

      <form class="add100-form" autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="agregar()" enctype="multipart/form-data">

        <span class="add100-form-title">
          Pon tu propiedad a la venta
        </span>

        <h6 class="mt-4">Ubicación</h6>

        <div class="row">
          <app-map-screen (lugarSeleccionado)="recibirLugarSeleccionado($event)"></app-map-screen>
        </div>

        <div class="row mt-2">

          <div class="col-8">
            <div class="wrap-input100 m-1">
              <span class="label-input100">Dirección</span>
              <input class="input100" type="text" formControlName="direccion" [value]="direccion" readonly>
              <input type="number" formControlName="lng" [value]="lng" hidden>
              <input type="number" formControlName="lat" [value]="lat" hidden>
              <span class="focus-input100"></span>
            </div>
          </div>

          <div class="col-2">
            <div class="wrap-input100 m-1">
              <span class="label-input100">Planta</span>
              <input class="input100" type="number" formControlName="planta">
              <span class="focus-input100"></span>
            </div>
          </div>

          <div class="col-2">
            <div class="wrap-input100 m-1">
              <span class="label-input100">Puerta</span>
              <input class="input100" type="text" formControlName="puerta">
              <span class="focus-input100"></span>
            </div>
          </div>

        </div>

        <h6 class="mt-4">Descripción</h6>

        <div class="row">

          <div class="col">
            <div class="wrap-input100 m-1">
              <textarea class="imput100" cols="80" rows="4" formControlName="descripcion" placeholder="Incluye una descripción detallada de tu vivienda. No olvides datos de interés como los metros cuadrados, número de habitaciones, baños, etc. También es importante conocer el estado de la vivienda y si dispone de terraza, balcón o piscina."></textarea>
              <span class="focus-input100"></span>
            </div>
          </div>

        </div>

        <h6 class="mt-4">Precio y fotografía</h6>

        <div class="row">

          <div class="col-4">
            <div class="wrap-input100 m-1">
              <input class="input100" type="number" formControlName="precio" style="font-size: 25px;">
              <span class="focus-input100"></span>
            </div>
          </div>

          <div class="col-8">
            <div class="wart-input100-noBorder m-3">
              <span class="label-input100">Fotos</span>
              <input type="file" (change)="onFileChange($event)">
              <span class="focus-input100"></span>
            </div>
          </div>

        </div>

        <div class="text-right pt-1 pb-2"></div>

        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn"
                    type="submit"
                    [disabled]="miFormulario.invalid">
              Guardar
            </button>
          </div>
        </div>

        <div class="flex-col-c pt-4">
          <span class="txt1 pb-2">
            ¿Aún no te has decidido?
          </span>

          <a routerLink="/inmo/listado" class="txt2">
            <!-- LLAMA A FUNCIÓN QUE NAVEGA A LISTADO -->
            <!-- IMPLEMENTAR EL GUARD DEL PROYECTO DE CLIENTE -->
            Cancelar
          </a>
        </div>

      </form>

    </div>
  </div>
</div>
