<div class="limiter">
  <div class="container-login100" style="background-image: url('../../../../assets/images/bg-01.jpg');">

    <div class="wrap-vivienda100 p-5">
      <div class="row">

        <div class="row">

          <div class="col-6">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" >
              <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let foto of vivienda.fotos; let i = index" [class.active]="i === 0">
                  <img [src]="foto" class="d-block w-100" alt="..." style="height: 250px; border-radius: 10px;">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>

          <div class="col-6">
            <ng-container>
              <app-map-view [vivienda]="vivienda"></app-map-view>
            </ng-container>
          </div>

        </div>

        <div class="row">

          <div class="row">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Precio: {{ vivienda.precio | number }} € </li>
                <li class="list-group-item">Ubicación: {{ vivienda.direccion }} </li>
                <li class="list-group-item">Propietario: {{ vivienda.propietario.name }} </li>
                <li class="list-group-item">
                  ¿Quieres contactar? Haz click y envíale un mensaje a:
                  <!-- <button class="mail" routerLink="/inmo/contacto" (click)="enviarMensaje(vivienda.propietario.email)">
                    <strong>{{ vivienda.propietario.email }}</strong>
                  </button> -->
                  <a [routerLink]="['/inmo/contacto', vivienda.propietario.email]">
                      <strong>{{vivienda.propietario.email}}</strong>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="row ms-2">
            <p>
              Descripcion: {{ vivienda.descripcion }}
            </p>

            <div class="button-group" *ngIf="vivienda.mine">
              <button (click)="onRestaurantDeleted(vivienda)"
                      class="btn btn-fuchsia mt-3 float-end">
                      Borrar
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
