<div class="limiter">
  <div class="container-login100" style="background-image: url('../../../../assets/images/bg-01.jpg');">

    <div class="row">
      <div class="wrap-home100 m-4 p-4">

        <a routerLink="/inmo/listado">
          <div class="card" style="max-width: 100%;">
            <div class="row no-gutters">
              <div class="col-md-5">
                <img class="img-fluid" src="../../../../assets/images/inmo/laguna.jpg">
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h3 class="card-title">Compra tu vivienda en Torrevieja</h3>
                  <p>No esperes más para hacer realidad tu sueño de vivir en Torrevieja.
                  ¡Haz clic aquí para explorar las viviendas que los vecinos de Torrevieja tienen a la venta!
                  ¡Da el primer paso hacia una vida llena de sol, mar y tranquilidad en este hermoso rincón de la Costa Blanca!</p>
                </div>
              </div>
            </div>
          </div>
        </a>

      </div>
    </div>

    <div class="row">
      <div class="wrap-home100 m-4 p-4">

        <a href="https://www.elcorreo.com/economia/vivienda/consejos-utiles-vender-20220202103122-ntrc.html?ref=https%3A%2F%2Fwww.google.com%2F">
          <div class="card" style="max-width: 100%;">
            <div class="row no-gutters">
              <div class="col-md-7">
                <div class="card-body">
                  <h3 class="card-title">Consejos para vender tu casa</h3>
                  <p>Vender una vivienda puede ser un proceso complejo y emocionalmente desafiante.
                  Es por eso que es fundamental contar con los consejos adecuados para maximizar tus posibilidades de éxito.</p>
                  <p>Haz click y echa un vistazo a nuestras 'tips' para vender tu casa rápidamente.</p>
                </div>
              </div>
              <div class="col-md-5">
                <img class="img-fluid" src="../../../../assets/images/inmo/tips.jpg">
              </div>
            </div>
          </div>
        </a>

      </div>
    </div>

    <div class="row">
      <div class="wrap-home100 m-4 p-4">

        <a href="https://culturatorrevieja.com/programacion/">
          <div class="card" style="max-width: 100%;">
            <div class="row no-gutters">
              <div class="col-md-5">
                <img class="img-fluid" src="../../../../assets/images/inmo/cultura.jpg">
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h3 class="card-title">Oferta cultural de Torrevieja</h3>
                  <p>¡Descubre la oferta cultural que Torrevieja tiene para ti!
                  Sumérgete en un mundo lleno de arte, música y eventos emocionantes.
                  Nuestro vibrante destino te espera con una amplia gama de actividades culturales que no querrás perderte.</p>
                </div>
              </div>
            </div>
          </div>
        </a>

      </div>
    </div>

  </div>
</div>



