
<div class="card" style="width: 20rem;">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let foto of vivienda!.fotos; let i = index" [class.active]="i === 0">
        <a [routerLink]="['/inmo/', vivienda?._id]">
          <img [src]="foto" class="d-block w-100" alt="{{vivienda?._id}}" style="height: 200px;">
        </a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Precio: <br>{{ vivienda!.precio | number }} €</li>
      <li class="list-group-item">Ubicación: <br>{{ vivienda!.direccion }} </li>
    </ul>
    <div class="button-group" >
      <button *ngIf="vivienda?.mine" (click)="delete()" class="btn btn-fuchsia mt-3">Borrar</button>
      <a [routerLink]="['/inmo/', vivienda?._id]" class="btn btn-primary mt-3 float-end">Ver más</a>
    </div>
  </div>
</div>
