<!-- <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <div class="card-header">
      {{ propiedad.rooms }}
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
  </div>
</div> -->

<div class="card" style="width: 18rem;">
  <img [src]="" class="card-img-top" alt="Thumbnail">
  <div class="card-body">
    <h5 class="card-title"></h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Tipo de propiedad: </li>
      <li class="list-group-item">Precio: </li>
      <li class="list-group-item">Tamaño: </li>
      <li class="list-group-item">Habitaciones: </li>
      <li class="list-group-item">Baños: </li>
      <li class="list-group-item">Ubicación:  </li>
    </ul>
    <a [href]="" target="_blank" class="btn btn-primary mt-3">Ver más</a>
  </div>
</div>
