<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 border-bottom">
      <div class="d-flex align-items-center me-md-auto mt-2">
        <a routerLink="/inmo/home" class="text-decoration-none link-body-emphasis fs-2">
          <img src="/assets/images/icons/torre_logo.png" alt="Torre" width="60" height="60">
          <span class="fs-2">TorreCasas</span>
        </a>
        <ul class="nav nav-pills ms-2">
          <li [routerLink]="[ navItem.ruta ]"
              routerLinkActive="active"
              class="nav-link">
            {{ navItem.nombre }}
          </li>
        </ul>
      </div>

    <div class="mt-4">
      <ul class="nav nav-pills" *ngIf="!usuario">
        <li *ngFor="let item of menuItems"
            [routerLink]="[ item.ruta ]"
            routerLinkActive="active"
            class="nav-link">
          {{ item.nombre }}
        </li>
      </ul>

      <ul class="nav nav-pills" *ngIf="usuario">
        <li *ngFor="let item of menuItemsRegistrado"
            [routerLink]="[ item.ruta ]"
            routerLinkActive="active"
            class="nav-link">
          {{ item.nombre }}
        </li>
      </ul>
    </div>


    </header>
  </div>
