<div class="limiter">
  <div class="container-login100" style="background-image: url('../../../../assets/images/bg-01.jpg');">

    <div>
        <div class="wrap-login100 p-5 mb-5">
          <h4>¡ Hola {{ usuario.name }} !</h4>
          <h4>¡ Tu email es {{ usuario.email }} !</h4>
        </div>

        <div class="wrap-login100 p-5 mb-5">
          <form class="login100-form" autocomplete="off" [formGroup]="mailForm" (ngSubmit)="cambiarEmail()">
            <h4>Correo electrónico</h4>

            <div class="wrap-input100 mb-2">
              <span class="label-input100">¿Quieres cambiar tu correo electrónico?</span>
              <input class="input100" type="email" formControlName="email" placeholder="Ingresa tu nuevo email">
              <span class="focus-input100"></span>
            </div>

            <div class="container-login100-form-btn">
              <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button class="login100-form-btn" type="submit" [disabled]="mailForm.invalid">
                  Guardar
                </button>
              </div>
            </div>

          </form>
        </div>

        <div class="wrap-login100 p-5">
          <form class="login100-form" autocomplete="off" [formGroup]="passForm" (ngSubmit)="cambiarPass()">
            <h4>Contraseña</h4>

            <div class="wrap-input100 mb-2">
              <span class="label-input100">¿Quieres cambiar tu contraseña?</span>
              <input class="input100" type="password" formControlName="pass" placeholder="Ingresa tu nueva contraseña">
              <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 mb-2">
              <input class="input100" type="password" formControlName="repPass" placeholder="Repite el nueva contraseña">
              <span class="focus-input100"></span>
            </div>

            <div class="container-login100-form-btn">
              <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button class="login100-form-btn" type="submit" [disabled]="passForm.invalid">
                  Guardar
                </button>
              </div>
            </div>

          </form>
        </div>
    </div>

  </div>
</div>
